#map { position: relative; width: 700px; height: 470px; overflow: hidden; background-repeat:no-repeat }
#returnlink { display: block; position: absolute; bottom: 0; right: 0; padding: 3px;}

#map a.bullet { display: block; position: absolute; width: 20px; height: 20px; background-image:url(/images/maps/zoom.gif); text-decoration: none; border: 0px solid red; opacity: .7; z-index: 2; }
#map img.zoomable { }

#map div.popup{ display: none; position: absolute; width: 200px; top: 100px; left: 150px; background: white; z-index: 3; padding: 10px; border: 2px solid black; }
#map div.popup a.close{ display: block; position: absolute; bottom: 10px; right: 10px; }