$("#district_selector").html("<select id='district_link' onchange='GoTo(this)'><option value=''>Bezirk auswählen</option><% for district in  @districts do %><option value='/bezirke/<%= district.short_name%>'><%= district.name%></option><%end%></select><br/><a href='/all_maps'>Auswahl zurücksetzen</a>");
